body{
    background-color: #083b4c;
}

#title h1{
    font-size: 72px;
}

#section_numbers .ms_box{
    background-color: #1389b2;
    margin: 10px;
    padding: 30px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_numbers .fizz{
    background-color: #0cd6a1;
}

#section_numbers .buzz{
    background-color: #ffd166;
}

#section_numbers .fizzbuzz{
    background-color: #f0466f;
}

