body{
    background-color: #083b4c;
}

#section_numbers .ms_box{
    background-color: #1389b2;
    margin: 20px;
    padding: 30px;
}

#section_numbers .fizz{
    background-color: #0cd6a1;
}

#section_numbers .buzz{
    background-color: #ffd166;
}

#section_numbers .fizzbuzz{
    background-color: #f0466f;
}

